 <div class="instructions">
   Welcome to the Shay securities report page. Use the drop down menus below to select either a single security or view every security in a fund. 
  </div>
<div class="nav">
<ul id="MenuBar1" class="MenuBarHorizontal">
  <li><a class="MenuBarItemSubmenu" href="#">Select by Security Title</a>
      <ul>
       <% @titles.each do |t| %>
        <li><a href="?id=<%=t.id%>"><%=t.title%></a></li>
        <%end%>
      </ul>
  </li>
  <li class="divider">or</li>
  <li><a class="MenuBarItemSubmenu" href="#">Select by Fund</a>
      <ul>
        <% @funds.each do |k,f| %>
        <li><a href="?fund=<%=k%>"><%=f%></a></li>
        <%end%>
        
      </ul>
  </li>
</ul>
<script type="text/javascript">
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>
</div>   
<%=@pagetitle%>

 <%if @results %>
<%#=@results.inspect%>
    <%@results.each do |res|%>
    <div class="security">
      <h2 class="title"><%=res['sec'].title%></h2>
    
    <h3>Characteristics</h3>  
      <table class="char">
      <tr>
        <td class="r">CUSIP</td><td> <%=res['sec'].cusip%></td>
        <td class="r">Moody's Rating</td><td><%=res['sec'].moodys%></td>
        <td class="r">Original CE</td><td><%=res['sec'].ce_orig%></td>
    </tr>
    <tr>
        <td class="r">Fund</td><td><%=res['sec'].fund.upcase%></td>
        <td class="r">S&amp;P Rating</td><td><%=res['sec'].s_p%></td>
        <td class="r">Current CE</td><td><%=res['sec'].ce_cur%></td>
    </tr>
    <tr>
        <td class="r">Date</td><td><%=res['sec'].date%></td>
        <td class="r">Fitch Rating</td><td><%=res['sec'].fitch%></td>
        <td></td>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
        <td class="r" colspan="2">30, 60, 90 Delinquency</td><td><%=res['sec'].delinq_30_60_90%></td>        
         <td class="r">Forclosure/Reo</td><td><%=res['sec'].forclosure_reo%></td>        
    </tr>
  </table>
    <%=link_to "Click here for the August 2008 remittance reports for full details of credit performance
    ", "http://www.amffunds.com/html/remittance.php"%>
    <% c=0%>
    <table class="floss" cellpadding="0" cellspacing="0">
      <h3>Date of First Loss</h3> 
      <tr class="gray"><th class="corner" colspan="2" rowspan="2"></th><th class="hlabel top" colspan="<%=res['cdr'].size %>">CDR</th></tr>
      <tr class="bot">
      <% res['cdr'].each do |cd| %>
        <th><%=cd%>%</th>
      <% end %>
    </tr>  
      <% res['sev'].each do |sv| %>
        <tr>
          <% if c==0%> 
                <td  class="vlabel left" rowspan="<%=res['sev'].size+1 %>"></td>
          <%end%>
          <td class="header right"><%=  sv %>%</td>
          <% res['cdr'].each do |c1| %>
            <td><%=  res['rdata'][sv][c1]? res['rdata'][sv][c1].strftime("%b-%Y") : "<span class=\"fade\">none</td>" %></td>
          <% end %>
        </tr>
        <%c+=1%>
      <% end %>
    </table>
    <h3>Modeling Assumptions</h3>
    <ul class="assumptions">
      <li><%=@cpr%>%  CPR = Static 6 month actual collateral speed for life</li>
      <li>Intex CDR definition is the unscheduled balance decline due to liquidated loans</li>
      <li>100% Servicer P&I advance</li>
      <li>CDR is an annualized number, conversion to single month default rate is (per Intex)</li>
      <li>9 month servicer advance</li>
      <li>MDR = [1 - (1 -CDR/100) ^ (1/12)] * 100</li>
    </ul>
    </div>
   <%end%>
   <%end%>

