<p>
  <b>Cdr:</b>
  <%=h @fldate.cdr %>
</p>

<p>
  <b>Severity:</b>
  <%=h @fldate.severity %>
</p>

<p>
  <b>F loss:</b>
  <%=h @fldate.f_loss %>
</p>


<%= link_to 'Edit', edit_fldate_path(@fldate) %> |
<%= link_to 'Back', fldates_path %>
